<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partials/_head.ejs") %>

		<!-- Include styles -->
		<%- include("styles/_global.style.ejs") %> <%-
		include("styles/_records-page.style.ejs") %>
		<%- include('styles/track-page.style.ejs') %>

		<!-- Include custom scripts -->
	</head>

	<body>
		<!-- Container min height 100 vh : To push footer to the bottom -->
		<div class="min-vh-100 d-flex flex-column">
			<!-- Loading Modal -->
			<%- include("partials/_loading-modal.ejs") %>

			<!-- Navbar -->
			<%- include("partials/_navbar.ejs") %>

			<!-- Content -->
			<div class="flex-grow-1 d-flex justify-content-center">
				<main
					class="p-4 m-3 border rounded-3 shadow-sm"
					style="
						width: clamp(300px, 100%, 800px);
						background-color: rgba(255, 255, 255, 0.95);
					"
				>
					<h1 class="text-center px-3">Track Exercise 📝</h1>
					<hr class="mx-4" />

					<form class="w-100" id="tracker-form">
						<div class="card mb-3">
							<div
								class="card-body text-dark shadow bg-light rounded"
							>
								<h4 class="card-title">Step 1️⃣ :</h4>
								<p class="card-text ">Give us you name:</p>
								<input
									type="text"
									class="form-control"
									name="name"
									id="name"
									aria-describedby="nameDesc"
									required
								/>
								<div id="nameDesc" class="form-text">
									Your name will help us identify your
									activity. So, please remember the given name
								</div>
							</div>
						</div>
						<div class="card mb-3 ">
							<div
								class="card-body text-dark shadow bg-light rounded"
							>
								<h4 class="card-title">Step 2️⃣ :</h4>
								<p class="card-text">
									Select your exercise type
								</p>
								<div class="mb-3 d-flex justify-content-around">
									<div>
										<label>
											<img
												src="/images/aerobic.gif"
												class="rounded-circle clickable-image"
												style="height: 100%; width: 100%; object-fit: contain"
												/>
												<input
												name="exerciseType"
												type="radio"
												class="btn-check"
												id="aerobicType"
												value="AEROBIC"
												checked
												/>
											</label>
									</div>
									<div>
										<label>
											<img
												src="/images/anaerobic.gif"
												class="rounded-circle clickable-image"
												style="height: 100%; width: 100%; object-fit: contain"
											/>
											<input
											name="exerciseType"
											type="radio"
											class="btn-check"
											id="anerobicType"
											value="ANAEROBIC"
											/>
										</label>
									</div>
									<div >
										<label>
											<img
												src="/images/hybrid.gif"
												class="rounded-circle clickable-image"
												style="height: 100%; width: 100%; object-fit: contain"
											/>
											<input
											name="exerciseType"
											type="radio"
											class="btn-check"
											id="hybridType"
											value="HYBRID"
											/>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card mb-5">
							<div
								class="card-body text-dark shadow bg-light rounded"
							>
								<h4 class="card-title">Step 3️⃣ :</h4>
								<p class="card-text">
									Give us the exercise detail
								</p>

								<label for="activityName" class="form-label"
									>Exercise Name:</label
								>
								<input
									type="text"
									class="form-control mb-4"
									name="exerciseName"
									id="activityName"
								required
								/>

								<label for="activityDuration" class="form-label"
									>Exercise Duration:</label
								>
								<input
									type="number"
									class="form-control mb-4"
									name="exerciseDuration"
									id="activityDuration"
									value="0"
									required
								/>

								<label for="activityDate" class="form-label"
									>Exercise Date:</label
								>
								<input
									type="date"
									class="form-control mb-4"
									name="exerciseDate"
									id="activityDate"
									required
								/>
							</div>
						</div>
						<button
							type="submit"
							class="form__submit btn btn-primary w-100 p-2"
						>
							Submit
						</button>
					</form>
				</main>
			</div>
		</div>

		<%- include("partials/_footer.ejs") %>
	</body>

	<script>
		const clickable_images = document.querySelectorAll(".clickable-image");
		clickable_images[0].classList.add(
			"border",
			"border-3",
			"border-secondary"
		);
		clickable_images.forEach((image) => {
			image.addEventListener("click", () => {
				clickable_images.forEach((image) => {
					image.classList.remove("border", "border-3", "border-secondary");
				});
				image.classList.add("border", "border-3", "border-secondary");
			});
		});

		$(document).ready(function () {
			$("#tracker-form").submit(function (event) {
				showLoading();
				event.preventDefault();
				let formData = $(this).serializeArray();
				let data = {
					name: formData[0].value,
					type: formData[1].value,
					activity: formData[2].value,
					duration: parseInt(formData[3].value),
					date: formData[4].value,
				};

				console.log(data);
				$.ajax({
					url: "/api/exercise-records",
					type: "POST",
					data: JSON.stringify(data),
					contentType: "application/json",

					success: function (response) {
						hideLoading();
						console.log(response);
							setTimeout(() => {
								location.reload();
							}, 1000);
					},
					error: function (err) {
						console.log(err);
					},
				});
			});
		});
	</script>
</html>
